/*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*====  VARIABLES ============================ */
:root {
  --header-height: 4rem;

  /* colors */
  --hue: 49;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 100% 49%);
  --base-color-second: hsl(var(--hue) 50% 80%);
  --base-color-alt: hsl(var(--hue) 100% 60%);
  --title-color: hsl(var(--hue) 100% 0%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 97.5%);
}

/*====  BASE ============================ */
body {
  font: 400 1rem 'DM Sans', sans-serif;
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 700 1.875rem 'Poppins', sans-serif;
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.button {
  background-color: var(--base-color-alt);
  color: var(--title-color);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem 'DM Sans', sans-serif;
  font-weight: 600;
  transition: background 0.3s;
}

.button:hover {
  background: var(--base-color-alt);
}

.divider-1 {
  height: 2px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1) 34%,
    hsla(var(--hue), 65%, 88%, 1) 100%
  );
}
.divider-2 {
  height: 2px;
  background: linear-gradient(
    90deg,
    hsla(var(--hue), 36%, 57%, 1) 34%,
    hsla(var(--hue), 65%, 88%, 1) 100%
  );
}
/*====  LAYOUT ============================ */
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: 4rem 0;
  transition: 0.2s;
}
.section .title {
  margin-bottom: 1rem;
}

#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
  transition: 0.2s;
}
#header.scroll {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}
nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -1.5rem;
  transition: 0.2s;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: 0.2s;
  position: relative;
}

nav ul li a:hover {
  color: var(--base-color);
}

nav ul li a::after {
  content: '';
  width: 100%;
  height: 2px;
  background: var(--base-color);

  position: absolute;
  left: 0;
  bottom: -1.5rem;
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--base-color);

  position: absolute;
  left: 0;
  bottom: -1.5rem;
  transition: width 0.2s;
}
nav ul li a:hover::after {
  content: '';
  width: 100%;
  height: 2px;
  background: var(--base-color);

  position: absolute;
  left: 0;
  bottom: -0.5rem;
}

nav .menu ul {
  display: none;
}

nav.show .menu {
  opacity: 1;
  visibility: visible;
  background: var(--body-color);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}
nav.show ul.grid {
  gap: 4rem;
}

.toggle {
  color: var(--base-color-alt);
  font-size: 1.5rem;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -1.5rem;
  right: 1.5rem;
  transition: 0.2s;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

.logo {
  font: 700 1.31rem 'Poppins', sans-serif;
  color: var(--title-color);
}

.logo span {
  color: var(--base-color);
}

main {
  margin-top: calc(var(--header-height) + 2rem);
}

/*====  HOME ============================ */
#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
  width: 50%;
}

#home .image::before {
  content: '';
  height: 90%;
  width: 120%;
  background: var(--base-color-second);
  position: absolute;
  top: 5%;
  left: 20%;
  margin-left: 0%;
  z-index: 0;
  opacity: 0.5;
  border-radius: 7rem 0.2rem;
}
/* #home .backsquare {
  position: relative;
  width: 62%;
  height: 25rem;
}

#home .backsquare::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -110%;
  left: 40%;
  margin-left: 0%;
  z-index: -1;
  opacity: 0.5;
  border-radius: 10rem 0.2rem;
} */
#home .image img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
}

/*aboutus*/
#about {
  background: white;
}

#about .container {
  margin: 0;
}

#about .image {
  position: relative;
}

#about .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -7%;
  left: -7%;
  z-index: 0;
}

#about .image img {
  position: relative;
  right: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#about .image img,
#about .image::before {
  border-radius: 4rem 0.2rem;
}

#about .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}
/*cards*/

#services {
  text-align: center;
}
.cards.grid {
  gap: 1.5rem;
}

.card {
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--base-color);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
}

.card ion-icon {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 5rem;
  color: var(--base-color);
  margin: auto;
}

.card .title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

/*Clientes*/

#clients {
  text-align: center;
  padding-bottom: 4rem;
}

#clients .container {
  margin-left: 0;
  margin-right: 0;
}

#clients .client {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#clients .client .txt {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  padding: 3rem;
  border-radius: 3rem;
  background-color: white;
}

#clients .client img {
  width: 10rem;
  border-radius: 2.5rem;
}

/* swiper */
.swiper-slide {
  height: auto;
  padding: 3rem 1rem;
}

.swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
}

.swiper-pagination-bullet-active {
  background: var(--base-color);
}
.swiper-button-prev,
.swiper-button-next {
  color: var(--base-color);
  font-weight: bold;
  margin: 0 1.5vh;
  opacity: 75%;
}
/* contato */
#contact {
  text-align: center;
  position: relative;
}

#contact::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 65%;
}

#contact .button {
  background-color: white;
  border-radius: 1rem;
}
#contact ion-icon {
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
  color: var(--title-color);
}

#contact .container .links ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
}

#contact .container .links ul li {
  display: inline-flex;
  text-align: center;
}

#contact .container .links ul li a {
  font-size: 1.25rem;
  text-decoration: none;
  display: flex;
  color: var(--title-color);
}

footer {
  background-color: var(--base-color);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  width: 100%;
  border-top: solid 2px hsl(var(--hue), 100%, 40%);
  padding: 2.5rem;
}
footer .brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
footer img {
  width: 30px;
}
footer .logo span {
  color: var(--body-color);
}

footer ion-icon {
  font-size: 1.25rem;
  text-align: center;
  color: var(--title-color);
}
footer a {
  font-size: 1rem;
  text-align: center;
  justify-content: center;
  color: var(--title-color);
}
footer .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 3.5rem;
  z-index: 1;
}

footer .back-to-top a ion-icon {
  padding: 0.5rem;
  background-color: var(--base-color);
  clip-path: circle();
}
.back-to-top {
  opacity: 0%;
  visibility: hidden;
  transition: 0.3s;
  transform: translateY(120%);
}
.back-to-top.show {
  visibility: visible;
  opacity: 80%;
  transform: translateY(0);
}

/* MEDIA QUERIES */
/*Extra large devices 1200 >*/
/*large devices 1023 >*/
/*large devices 992 >*/
@media (min-width: 992px); /*700> >*/
